*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color:rgb(130, 145, 146);
}
.containerMain{
    position: relative;
}
.container{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px black;
}
span{
    /* border: 1px solid blue; */
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
    /* border: 2px solid rgb(99, 105, 16); */
}
span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    /* box-shadow: 0px 5px 5px 2px black; */
    text-shadow: 2px 3px 2px rgba(8, 8, 8, 0.952);
    border-radius: 10px;
    padding: 5px;
    color: white;
    /* font-weight:bolder; */
}
.midd{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}
.midd2{
    width: 8px;
    height:8px;
    border-radius: 50%;
    /* background-color: rgb(202, 13, 13); */
    border: 3px solid blue;
    position: absolute;
}
.hand{
    /* content: ''; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    /* transform: rotate(360deg); */
}
.hand i{
    position: absolute;
    width: 3px;
    border-radius: 10px;
    /* height: 60px; */
    /* background-color: red; */
    background-color:var(--clr);
}
.comp{
    height: 10px;
    width: 25px;
    /* background-color:red; */
    color: white;
    top: 4rem;
    position: absolute;
    overflow:hidden;
    font-size:10px;
    text-align: center;
}