*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-color:rgb(130, 145, 146);
}
.containerMain{
    position: relative;
}
.container{
    border: 1px solid rgb(18, 40, 236);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 0px 10px 2px black;
}
span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    text-shadow: 2px 3px 2px rgba(8, 8, 8, 0.952);
    border-radius: 10px;
    /* padding: 1px; */
    color: white;
    font-size: 20px;
}
.midd{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}
.midd2{
    width: 8px;
    height:8px;
    border-radius: 50%;
    border: 3px solid blue;
    position: absolute;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.hand i{
    position: absolute;
    width: 3px;
    border-radius: 10px;
    background-color:var(--clr);
}
.comp{
    height: 10px;
    width: 25px;
    color: white;
    top: 4rem;
    position: absolute;
    overflow:hidden;
    font-size:10px;
    text-align: center;
}

/* digital watch */
.Dcontainer{
    width: 200px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 2px black;
    border-radius: 10px;
    background: linear-gradient(red,rgb(14, 14, 231));
}
.dBox{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    align-content: center;
    border-left: 1px solid black;
   
}
.dBox b{
    color:white;
    font-size:20px;
    text-shadow: 3px 2px 2px black;
}